%h2 Contributors
%ul
  %li
    Dr Nic -
    %a{ :href => 'http://github.com/drnic' } github
    \-
    %a{ :href => 'http://twitter.com/drnic' } @drnic
    \-
    %a{ :href => 'http://drnicwilliams.com' } drnicwilliams.com
  %li
    George Anderson -
    %a{ :href => 'http://github.com/george' } github
    \-
    %a{ :href => 'http://twitter.com/benevolentcode' } @benevolentcode
    \-
    %a{ :href => 'http://benevolentcode.com' } benevolentcode.com
  